@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic,100,100italic);

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 16px;
	color: gray;
	line-height: 1.5em;
	text-align: left;
	
	}

#wrapper {
	width: 1200px;
	margin: 0 auto;
}

header {
	padding: 0 0 90px 0;
	
}

nav {
	
}

#nav_left {
	float: left;
	padding: 10px 0 0 10px;
}



#nav_right {
	float: right;
	padding: 22px 10px 0 0;
	
}

nav a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	
	margin: 0 0 0 40px;
	
	color: gray;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;

} 

#nav_left a img {
	width: 45px;
	margin: 0;
}

#nav_right a:hover { 
	color: #F79C31;
}

p {
	font-size: 1em;
}

main {
	padding: 10px;	
	width: 1200px;
}

.column {
	float: left;
	width: 23%;
	margin: 1%;
}

figure {
	margin-bottom: 2em;
}

figure img {

	width: 100%;
}

footer {
	
	padding: 10px;
	
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	
	height: 0;
	font-size: 0;
	visability: hidden;
}