body {
	Font-family: Helvetica, sans-serif;
	text-align: center;
	color: #D8BFD8;
	font-weight: bold;
} 

h1 {
	color: #FF6347;
}

p{
	font-size: 20px;
}

#slogan {
	font-style: italic;
}

ul {
	font-size: 20px;
	list-style-type: none;
}

